@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-dark: #000000;
  --text-color-dark: #f2dce5;
  --background-color-light: #cbcbcb;
  --text-color-light: #000000;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
}
