@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: rgb(16, 18, 43);
	--secondary: #ffddde;
	--link-text-color: #e281d8;
}

body {
	font-family: 'JetBrains Mono', monospace;
	background: var(--primary);
	color: var(--secondary);
	margin: 0;
}

main {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0 10.125rem;
	box-sizing: border-box;
}

/* Link styling */
a {
	color: var(--link-text-color) !important;
	font-weight: bold !important;
}

a:hover {
	color: rgb(143, 143, 231) !important;
}

main > * {
	margin: 1rem;
}

article section {
	padding: 1em 0;
}

#title {
	color: white;
	text-shadow:
		2px 2px 0 #55cdfc,
		/* Light Blue */ 4px 4px 0 #f7a8b8,
		/* Pink */ 5px 5px 0 #fff;
	/* White */
}

@media only screen and (max-width: 600px) {
	main {
		padding: 0 1.125rem;
	}
}

/*

:root {
	--background-color: rgb(16, 18, 43);
	--text-color: #ffddde;
	--link-text-color: #e281d8;
}

body {
	@apply container mx-auto h-screen max-w-md items-center px-2 md:max-w-2xl;
	font-family: 'JetBrains Mono', monospace;
	font-weight: 400;
	font-style: normal;
	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	color: var(--link-text-color);
}

a:hover {
	color: rgb(143, 143, 231);
}


#rainbow_title {
	background: linear-gradient(
		45deg,
		rgb(255, 255, 255),
		rgb(255, 60, 183) 20%,
		rgb(255, 183, 77) 40%,
		rgb(76, 175, 80) 60%,
		rgb(76, 175, 80) 80%,
		rgb(76, 175, 80) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

*/
