@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: rgb(16, 18, 43);
	--text-color: #ffddde;
	--link-text-color: #e281d8;
}

body {
	@apply container mx-auto h-screen max-w-md items-center px-2 md:max-w-2xl;
	font-family: 'JetBrains Mono', monospace;
	font-weight: 400;
	font-style: normal;
	/*background-image:  url("https://stsci-opo.org/STScI-01J6CWRK073C5KH4QHGP1Z6KA2.png");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	color: var(--link-text-color);
}

a:hover {
	color: rgb(143, 143, 231);
}

#rainbow_title {
	background: linear-gradient(
		45deg,
		rgb(255, 255, 255),
		rgb(255, 60, 183) 20%,
		rgb(255, 183, 77) 40%,
		rgb(76, 175, 80) 60%,
		rgb(76, 175, 80) 80%,
		rgb(76, 175, 80) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
